<div>
<div>
<h1><%= @park.name %></h1>
</div>
<div>
<h4><%= @park.description %></h4>
</div>
<div>
<img src='<%= @park.picture %>' height="200px" width="400px">
</div>
<%= button_to "Home", {action: "index"}, method: :get %>
</div>
